
<% @cocktails.each do |cocktail| %>
  <h1>
    <%= link_to cocktail.name, cocktail %>
    <%= cl_image_tag("10382984_758212484273303_559603188189295384_n_nthl5q.jpg", :height=>100, :quality=>99, :radius=>50, :width=>100, :crop=>"scale") %>
  </h1>
<% end %>

